<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matthew Rorvick's Portfolio</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <link rel="stylesheet" href="https://use.typekit.net/ooo3uph.css">
    <link rel="stylesheet" href="https://use.typekit.net/mkc0kkr.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>


    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a th:href="@{/index}"><img id="homebutton" src="images/mrlogogold.svg"></a>
        <!-- <a th:href="@{/index}"><button class="btn btn-outline-warning my-2 my-sm-0"><img id="homebutton"
                    src="images/mrlogo.svg"></button></a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/design}">Design</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" th:href="@{/codingprojects}">Software Development</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/comments}">Comments</a>
                </li>
            </ul>
        </div>

    </nav>

    <div class="profilephoto">
        
        <h4>A <span class="gothambold">little bit</span> about me.</h4>
        
    </div>

    <div class="information">
        <h2>Developer & Designer</h2>
    </div>

    
    <div class="row">
        <div class="col-md-3 checkerboard2"></div>
        <div class="col-md-3 checkerboard"></div>
        <div class="col-md-3 checkerboard2"></div>
        <div class="col-md-3 checkerboard"></div>
    </div>
    
    

    <!-- <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div> -->

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Hey! Currently I am a student at Tech Talent South enrolled in the Java Code Immersion Program. I am
                    really excited about learning all of the new material in software development. Also, I have a
                    Bachelor of Fine Arts in Graphic Design. I really enjoy the aspects of design and development that
                    overlap. I think it's very important that users are able to interact with a well designed and
                    functioning program. </p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 offset-md-6">
                <p>Hey! Currently I am a student at Tech Talent South enrolled in the Java Code Immersion Program. I am
                    really excited about learning all of the new material in software development. Also, I have a
                    Bachelor of Fine Arts in Graphic Design. I really enjoy the aspects of design and development that
                    overlap. I think it's very important that users are able to interact with a well designed and
                    functioning program. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                    <p>Hey! Currently I am a student at Tech Talent South enrolled in the Java Code Immersion Program. I am
                        really excited about learning all of the new material in software development. Also, I have a
                        Bachelor of Fine Arts in Graphic Design. I really enjoy the aspects of design and development that
                        overlap. I think it's very important that users are able to interact with a well designed and
                        functioning program. </p>
            </div>
        </div>
        
    </div>






    <footer class="container-fluid footer">
        <div class="row">
            
            <div class="col-md-4 footertext">
                © MR Design
            </div>
            <div class="col-md-4">
                <div class="icons">
                    <a href="https://github.com/mattrorvick" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/matthew-rorvick-a15149134/" target="_blank"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
            <div class="col-md-4 footertext">
                <a href="https://issuu.com/matthewrorvick/docs/digital_portfolio_2020"
                    target="_blank" style="text-decoration: none; color: white;" class="text-center">Issuu Portfolio Publication</a>
            </div>

        </div>
    </footer>




    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

</body>

</html>